version: '3.8'

services:
  # O Proxy Reverso do Cliente 3
  proxy-cliente3:
    image: nginx:alpine
    container_name: proxy-reverso-c3
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - core-net
      - rede_interna_c3
    depends_on:
      - portal-c3
      - cliente3-cms # Alterado para o nome do serviço WordPress

  # Serviços Internos do Cliente 3
  portal-c3:
    image: nginx:alpine
    container_name: portal-c3
    volumes:
      - ../portal:/usr/share/nginx/html:ro
    networks:
      - rede_interna_c3

  # --- CORREÇÃO: De Nginx para WordPress ---
  cliente3-cms:
    image: wordpress:latest
    container_name: cliente3-cms
    networks:
      - rede_interna_c3
      - core-net # Essencial para o Proxy Principal (ISP) chegar aqui
    environment:
      WORDPRESS_DB_HOST: cliente3-db
      WORDPRESS_DB_NAME: wp_cliente3
      WORDPRESS_DB_USER: user_c3
      WORDPRESS_DB_PASSWORD: pass_user_c3
    depends_on:
      - cliente3-db

  # Banco de Dados do Cliente 3
  cliente3-db:
    image: mariadb:10.11
    container_name: cliente3-db
    networks:
      - rede_interna_c3
    environment:
      MYSQL_DATABASE: wp_cliente3
      MYSQL_USER: user_c3
      MYSQL_PASSWORD: pass_user_c3
      MYSQL_ROOT_PASSWORD: root_pass_c3

networks:
  core-net:
    external: true
  rede_interna_c3:
    driver: bridge